cerad_user:
  oauth:
    providers:
      -
        name:  google
        class: Cerad\Bundle\UserBundle\OAuth\Provider\GoogleProvider
        client_id:     %google_client_id%
        client_secret: %google_client_secret%
      -
        name: facebook
        class: Cerad\Bundle\UserBundle\OAuth\Provider\FacebookProvider
        client_id:     %facebook_client_id%
        client_secret: %facebook_client_secret%
      -
        name: github
        class: Cerad\Bundle\UserBundle\OAuth\Provider\GithubProvider
        client_id:     %github_client_id%
        client_secret: %github_client_secret%
                
hwi_oauth:
    
  connect: 
    confirmation: false # should show confirmation page or not
    registration_form_handler: cerad_user__registration_form_handler
    registration_form:         cerad_user__registration_form
    account_connector:         cerad_user__user_provider # can be the same as your user provider
  
  # SSL certificate problem: unable to get local issuer certificate
  http_client:
    verify_peer: false
        
  # name of the firewall in which this bundle is active, this setting MUST be set
  firewall_name: secured_area

  resource_owners:
        
    # From console.developers.google.com ahundiak@zayso.org
    # Project = Zayso
    # API Credentials Create New Client ID Web Application
    google:
      type:           google
      client_id:     %google_client_id%
      client_secret: %google_client_secret%
      scope:         "email profile"
      options:
        access_type:  offline
        
    github:
      type:           github
      scope:         "user:email"
      client_id:     %github_client_id%
      client_secret: %github_client_secret%
      
    twitter:
      type:           twitter
      client_id:     %twitter_hwi_client_id%
      client_secret: %twitter_hwi_client_secret%
      