parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    database_name_games:       games
    database_name_users:       users
    database_name_persons:     persons
    database_name_legacy2012:  osso2012x

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    google_client_id:      null
    google_client_secret:  null

    facebook_client_id:     null
    facebook_client_secret: null

    github_client_id:      null
    github_client_secret:  null

    twitter_client_id:     null
    twitter_client_secret: null

    twitter_hwi_client_id:     null
    twitter_hwi_client_secret: null

    linkedin_client_id:     null
    linkedin_client_secret: null
