parameters:
#    cerad_app.example.class: Cerad\Bundle\AppBundle\Example
  cerad_user__user_class: Cerad\Bundle\UserBundle\Doctrine\Entity\User
  
services:

  cerad_user__user_repository:
    class:  Cerad\Bundle\UserBundle\Doctrine\Repository\UserRepository
    factory_service: doctrine.orm.users_entity_manager
    factory_method:  getRepository
    arguments:  
      - '%cerad_user__user_class%'
                        
  cerad_user__user_provider:
    class: Cerad\Bundle\UserBundle\Doctrine\Security\UserProvider
    arguments:
      - '@cerad_user__user_repository'

  cerad_user__registration_form:
    class: Cerad\Bundle\UserBundle\Action\Registration\RegForm
    factory_service: form.factory
    factory_method:  create
    arguments:  
      - cerad_user__registration_form_type
      
  cerad_user__registration_form_type:
    class: Cerad\Bundle\UserBundle\Action\Registration\RegFormType
    tags: 
      - { name: form.type, alias: cerad_user__registration_form_type }
    arguments:  
      - '%cerad_user__user_class%'
    
  cerad_user__registration_form_handler:
    class: Cerad\Bundle\UserBundle\Action\Registration\RegFormHandler
    arguments:  
      - '@cerad_user__user_repository'
 
# Works but no container
 #cerad_user__oauth1__request_token:
 #  class: Cerad\Bundle\UserBundle\Command\RequestTokenCommand
 #  tags:
 #    -  { name: console.command }